-- Enable UUID extension
create extension if not exists "uuid-ossp";

-- 1. MATCHES TABLE (Stores V4 Signal Data)
create table matches (
  id uuid primary key default uuid_generate_v4(),
  external_id text unique, -- e.g. "v4_real_12345"
  league text,
  home_team text,
  away_team text,
  match_time timestamptz,
  status text default 'SCHEDULED', -- SCHEDULED, FINISHED
  odds_data jsonb, -- Storing raw odds snapshot
  quant_analysis jsonb, -- The AI Reports (Consensus, etc.)
  models_data jsonb, -- Individual model predictions
  created_at timestamptz default now()
);

-- 2. PARLAY TICKETS TABLE (Official System Picks)
create table parlay_tickets (
  id uuid primary key default uuid_generate_v4(),
  ticket_id text unique, -- e.g. "tx_4F_12345"
  date date,
  type text, -- "Safe 2-Fold", "Degen 4-Fold"
  legs jsonb, -- Array of legs selected
  total_odds numeric,
  stake numeric default 100,
  status text default 'PENDING',
  pnl numeric default 0,
  roi text,
  verified_on text,
  created_at timestamptz default now()
);

-- 3. USER PROFILES (Wallet & Auth)
create table profiles (
  id uuid references auth.users not null primary key,
  username text unique,
  balance numeric default 1000, -- Virtual Coins
  is_pro boolean default false,
  created_at timestamptz default now()
);

-- 4. USER BETS (Individual User Action)
create table user_bets (
  id uuid primary key default uuid_generate_v4(),
  user_id uuid references auth.users not null,
  ticket_id uuid references parlay_tickets(id), -- Optional link to system ticket
  selection_details jsonb, -- If custom bet
  stake numeric,
  status text default 'PENDING',
  pnl numeric,
  created_at timestamptz default now()
);

-- Row Level Security (RLS)
alter table matches enable row level security;
alter table parlay_tickets enable row level security;
alter table profiles enable row level security;
alter table user_bets enable row level security;

-- Policies (Public Read for Matches/Parlays)
create policy "Public matches are viewable by everyone" on matches for select using (true);
create policy "Public parlays are viewable by everyone" on parlay_tickets for select using (true);

-- User Policies
create policy "Users can view own profile" on profiles for select using (auth.uid() = id);
create policy "Users can update own profile" on profiles for update using (auth.uid() = id);
 
-- 1. AI MODELS METADATA
create table if not exists ai_models (
    model_id text primary key, -- e.g. 'deepseek_v3'
    name text not null,
    style text,
    capability_radar jsonb, -- {Tactics: 9, Underdogs: 8, ...}
    created_at timestamptz default now()
);

-- 2. AI LEAGUE STATS (History)
create table if not exists ai_league_stats (
    id uuid primary key default uuid_generate_v4(),
    model_id text references ai_models(model_id),
    date date not null default current_date,
    
    -- Multi-wallet tracking
    core_pnl numeric default 0,
    challenge_pnl numeric default 0,
    high_yield_pnl numeric default 0,
    total_day_pnl numeric default 0,
    
    wallet_balance numeric default 10000,
    roi numeric default 0,
    bets_count integer default 0,
    
    created_at timestamptz default now(),
    unique(model_id, date) -- Ensure one entry per model per day
);

-- 3. DAILY NEWS / HEADLINES
create table if not exists ai_league_news (
    id uuid primary key default uuid_generate_v4(),
    date date not null default current_date,
    headline text,
    top_performer text references ai_models(model_id),
    top_pnl numeric,
    created_at timestamptz default now(),
    unique(date) -- One headline per day
);

-- 4. Indexes & RLS
do $$ 
begin
    if not exists (select 1 from pg_indexes where indexname = 'idx_league_stats_date') then
        create index idx_league_stats_date on ai_league_stats(date);
    end if;
    if not exists (select 1 from pg_indexes where indexname = 'idx_league_stats_model') then
        create index idx_league_stats_model on ai_league_stats(model_id);
    end if;
end $$;

alter table ai_models enable row level security;
alter table ai_league_stats enable row level security;
alter table ai_league_news enable row level security;

-- 5. Policies (Safe execution via DO block)
do $$ 
begin
    if not exists (select 1 from pg_policies where policyname = 'Public AI models viewable') then
        create policy "Public AI models viewable" on ai_models for select using (true);
    end if;
    if not exists (select 1 from pg_policies where policyname = 'Public AI stats viewable') then
        create policy "Public AI stats viewable" on ai_league_stats for select using (true);
    end if;
    if not exists (select 1 from pg_policies where policyname = 'Public AI news viewable') then
        create policy "Public AI news viewable" on ai_league_news for select using (true);
    end if;
end $$;

-- 6. Initial Data Seed (Only insert if not exists)
insert into ai_models (model_id, name, style, capability_radar)
select 'deepseek_v3', 'DeepSeek V3', 'Balanced Quant', '{"Tactics": 9, "Underdogs": 8, "High-Value": 9, "Consistency": 6, "Speed": 7}'
where not exists (select 1 from ai_models where model_id = 'deepseek_v3');

insert into ai_models (model_id, name, style, capability_radar)
select 'claude_opus_4_5', 'Claude Opus 4.5', 'Risk Averse', '{"Stability": 8, "Accuracy": 9, "Logic": 9, "Speed": 5, "Value": 7}'
where not exists (select 1 from ai_models where model_id = 'claude_opus_4_5');

insert into ai_models (model_id, name, style, capability_radar)
select 'gpt_5_preview', 'GPT-5 Preview', 'Aggressive Growth', '{"Power": 9, "Vision": 8, "Risk": 9, "Scale": 7, "Alpha": 8}'
where not exists (select 1 from ai_models where model_id = 'gpt_5_preview');

insert into ai_models (model_id, name, style, capability_radar)
select 'qwen_3_max', 'Qwen 3 Max', 'Momentum Algo', '{"Momentum": 9, "Flow": 8, "Trend": 7, "Pattern": 8, "Execution": 6}'
where not exists (select 1 from ai_models where model_id = 'qwen_3_max');
 
-- Phase 6: Black Swan Protocol & AI RPG Evolution

-- 1. AI ACHIEVEMENTS (RPG System)
create table if not exists ai_achievements (
    id uuid primary key default uuid_generate_v4(),
    model_id text references ai_models(model_id),
    achievement_type text not null, -- 'God Slayer', 'Iron Shield', 'Alpha King', etc.
    description text,
    earned_at timestamptz default now()
);

-- 2. BLACK SWAN OPTIONS (Hedging Protocol)
create table if not exists black_swan_options (
    id uuid primary key default uuid_generate_v4(),
    user_id uuid references auth.users(id),
    model_id text references ai_models(model_id),
    match_id text, -- ID from matches table
    premium numeric not null default 0, -- Cost to buy (virtual coins)
    strike_confidence numeric not null, -- The AI confidence being hedged (e.g. 85%)
    payout_multiplier numeric not null default 2.0, -- Default payout ratio
    status text not null default 'PENDING', -- PENDING, SETTLED, EXPIRED
    result text, -- 'PAYOUT', 'LOST'
    created_at timestamptz default now()
);

-- 3. Indexes for Performance
create index if not exists idx_achievements_model on ai_achievements(model_id);
create index if not exists idx_options_user on black_swan_options(user_id);
create index if not exists idx_options_status on black_swan_options(status);

-- 4. RLS Policies
alter table ai_achievements enable row level security;
alter table black_swan_options enable row level security;

-- Achievements are public
do $$ 
begin
    if not exists (select 1 from pg_policies where policyname = 'Public AI achievements viewable') then
        create policy "Public AI achievements viewable" on ai_achievements for select using (true);
    end if;
end $$;

-- Options are private to the user
do $$ 
begin
    if not exists (select 1 from pg_policies where policyname = 'Users can view own options') then
        create policy "Users can view own options" on black_swan_options for select using (auth.uid() = user_id);
    end if;
    if not exists (select 1 from pg_policies where policyname = 'Users can insert own options') then
        create policy "Users can insert own options" on black_swan_options for insert with check (auth.uid() = user_id);
    end if;
end $$;

-- 5. RPC Helpers
create or replace function increment_profile_balance(usr_id uuid, amt numeric)
returns void as $$
begin
    update profiles
    set balance = balance + amt
    where id = usr_id;
end;
$$ language plpgsql security definer;
 
-- Phase 7: Governor RPG Decision Logic

-- 1. GOVERNANCE PROPOSALS
create table if not exists governance_proposals (
    id uuid primary key default uuid_generate_v4(),
    title text not null,
    description text not null,
    category text default 'MONETARY_POLICY', -- MONETARY_POLICY, AI_SANCTION, BANKROLL_ALLOCATION
    target_model_id text references ai_models(model_id),
    adjustment_value numeric, -- e.g. 0.15 for +15% boost, -0.10 for 10% reduction
    status text not null default 'ACTIVE', -- ACTIVE, EXECUTED, DEFEATED, EXPIRED
    yes_votes numeric default 0,
    no_votes numeric default 0,
    threshold numeric default 1000, -- Required power to pass
    expires_at timestamptz not null, -- Voting deadline
    active_from timestamptz, -- When the policy starts
    active_until timestamptz, -- When the policy ends
    created_at timestamptz default now()
);

-- 2. GOVERNANCE VOTES
create table if not exists governance_votes (
    id uuid primary key default uuid_generate_v4(),
    user_id uuid references auth.users(id),
    proposal_id uuid references governance_proposals(id),
    vote_type text not null, -- YES, NO
    power numeric not null, -- Amount of "Governance Power" (credits burned)
    created_at timestamptz default now(),
    unique(user_id, proposal_id) -- One vote per user per proposal
);

-- 3. RPC: Casting a Vote (Atomic)
create or replace function cast_governance_vote(
    p_user_id uuid,
    p_proposal_id uuid,
    p_vote_type text,
    p_power numeric
) returns void as $$
begin
    -- 1. Deduct balance from profile
    update profiles 
    set balance = balance - p_power
    where id = p_user_id and balance >= p_power;

    if not found then
        raise exception 'Insufficient balance to cast vote';
    end if;

    -- 2. Insert the vote
    insert into governance_votes (user_id, proposal_id, vote_type, power)
    values (p_user_id, p_proposal_id, p_vote_type, p_power);

    -- 3. Update the proposal tally
    if p_vote_type = 'YES' then
        update governance_proposals 
        set yes_votes = yes_votes + p_power
        where id = p_proposal_id;
    else
        update governance_proposals 
        set no_votes = no_votes + p_power
        where id = p_proposal_id;
    end if;
end;
$$ language plpgsql security definer;

-- 3. RLS Policies
alter table governance_proposals enable row level security;
alter table governance_votes enable row level security;

-- Proposals are public
do $$ 
begin
    if not exists (select 1 from pg_policies where policyname = 'Public governance proposals viewable') then
        create policy "Public governance proposals viewable" on governance_proposals for select using (true);
    end if;
end $$;

-- Votes are private to the user
do $$ 
begin
    if not exists (select 1 from pg_policies where policyname = 'Users can view own votes') then
        create policy "Users can view own votes" on governance_votes for select using (auth.uid() = user_id);
    end if;
    if not exists (select 1 from pg_policies where policyname = 'Users can insert own votes') then
        create policy "Users can insert own votes" on governance_votes for insert with check (auth.uid() = user_id);
    end if;
end $$;

-- 4. Initial Proposals Seeding (Sample for the Parliament)
 
-- Phase 8: Governor RPG Rank System

-- 1. EXTEND PROFILES WITH RPG STATS
-- We use a DO block to safely add columns if they don't exist
do $$ 
begin
    if not exists (select 1 from information_schema.columns where table_name = 'profiles' and column_name = 'xp') then
        alter table profiles add column xp numeric default 0;
    end if;
    if not exists (select 1 from information_schema.columns where table_name = 'profiles' and column_name = 'rank_level') then
        alter table profiles add column rank_level integer default 1;
    end if;
    if not exists (select 1 from information_schema.columns where table_name = 'profiles' and column_name = 'governor_title') then
        alter table profiles add column governor_title text default 'Apprentice Analyst';
    end if;
end $$;

-- 2. USER ACHIEVEMENTS TABLE (Medals)
create table if not exists user_achievements (
    id uuid primary key default uuid_generate_v4(),
    user_id uuid references auth.users(id),
    achievement_type text not null, -- 'The Oracle', 'Master Lobbyist', 'Whale'
    description text,
    earned_at timestamptz default now(),
    unique(user_id, achievement_type)
);

-- 3. RLS Policies for Achievements
alter table user_achievements enable row level security;

do $$ 
begin
    if not exists (select 1 from pg_policies where policyname = 'Users can view own achievements') then
        create policy "Users can view own achievements" on user_achievements for select using (auth.uid() = user_id);
    end if;
end $$;

-- 4. RPC for XP Awarding (Atomic)
create or replace function award_user_xp(
    p_user_id uuid,
    p_xp_amount numeric
) returns void as $$
declare
    v_new_xp numeric;
    v_new_level integer;
    v_new_title text;
    v_is_pro boolean;
    v_final_xp numeric;
begin
    -- 0. Check Pro Status
    select is_pro into v_is_pro from profiles where id = p_user_id;
    
    -- Apply 1.2x multiplier for Pro users
    if v_is_pro then
        v_final_xp := p_xp_amount * 1.2;
    else
        v_final_xp := p_xp_amount;
    end if;

    -- 1. Update XP
    update profiles 
    set xp = xp + v_final_xp
    where id = p_user_id
    returning xp into v_new_xp;

    -- 2. Calculate Level and Title
    -- Level 1: 0-1000, Level 2: 1000-5000, Level 3: 5000-20000, Level 4: 20000+
    if v_new_xp >= 20000 then
        v_new_level := 4;
        v_new_title := 'Prime Governor';
    elsif v_new_xp >= 5000 then
        v_new_level := 3;
        v_new_title := 'Council Member';
    elsif v_new_xp >= 1000 then
        v_new_level := 2;
        v_new_title := 'Senior Researcher';
    else
        v_new_level := 1;
        v_new_title := 'Apprentice Analyst';
    end if;

    -- 3. Update Profile Level & Title if changed
    update profiles 
    set rank_level = v_new_level,
        governor_title = v_new_title
    where id = p_user_id;
end;
$$ language plpgsql security definer;
 
-- Phase 9: Payment & Economy Infrastructure (Merchant Base)

-- 1. EXTEND PROFILES WITH PRO STATUS
do $$ 
begin
    if not exists (select 1 from information_schema.columns where table_name = 'profiles' and column_name = 'is_pro') then
        alter table profiles add column is_pro boolean default false;
    end if;
    if not exists (select 1 from information_schema.columns where table_name = 'profiles' and column_name = 'pro_expires_at') then
        alter table profiles add column pro_expires_at timestamptz;
    end if;
end $$;

-- 2. CREDIT TRANSACTIONS TABLE
create table if not exists credit_transactions (
    id uuid primary key default uuid_generate_v4(),
    user_id uuid references auth.users(id),
    amount numeric not null, -- Positive for inflow, Negative for outflow
    type text not null, -- 'PURCHASE', 'VOTE', 'HEDGE_PREMIUM', 'HEDGE_PAYOUT', 'REWARD', 'SUBSCRIPTION'
    description text,
    transaction_ref text, -- External ref (e.g., Stripe Session ID)
    created_at timestamptz default now()
);

-- 3. RLS for Transactions
alter table credit_transactions enable row level security;

do $$ 
begin
    if not exists (select 1 from pg_policies where policyname = 'Users can view own transactions') then
        create policy "Users can view own transactions" on credit_transactions for select using (auth.uid() = user_id);
    end if;
end $$;

-- 4. ATOMIC CREDIT TOPUP FUNCTION
create or replace function topup_user_credits(
    p_user_id uuid,
    p_amount numeric,
    p_type text,
    p_desc text,
    p_ref text
) returns void as $$
begin
    -- 1. Update Profile Balance
    update profiles 
    set balance = balance + p_amount
    where id = p_user_id;

    -- 2. Log Transaction
    insert into credit_transactions (user_id, amount, type, description, transaction_ref)
    values (p_user_id, p_amount, p_type, p_desc, p_ref);
end;
$$ language plpgsql security definer;
 
-- Phase 10: Dynamic Fund Guilds (Syndicate Mode)

-- 1. GUILDS TABLE
create table if not exists guilds (
    id uuid primary key default uuid_generate_v4(),
    name text not null unique,
    description text,
    strategy text default 'Balanced Growth',
    risk_level text default 'Medium Risk', -- 'Low Risk', 'Medium Risk', 'High Risk'
    min_entry numeric default 500,
    total_capital numeric default 0,
    owner_id uuid references auth.users(id),
    roi_7d numeric default 0,
    created_at timestamptz default now()
);

-- 2. GUILD MEMBERSHIPS
create table if not exists guild_memberships (
    id uuid primary key default uuid_generate_v4(),
    guild_id uuid references guilds(id) on delete cascade,
    user_id uuid references auth.users(id) on delete cascade,
    staked_capital numeric default 0,
    joined_at timestamptz default now(),
    unique(guild_id, user_id)
);

-- 3. RLS
alter table guilds enable row level security;
alter table guild_memberships enable row level security;

do $$ 
begin
    if not exists (select 1 from pg_policies where policyname = 'Public guilds are visible to everyone') then
        create policy "Public guilds are visible to everyone" on guilds for select using (true);
    end if;
    if not exists (select 1 from pg_policies where policyname = 'Members can view their memberships') then
        create policy "Members can view their memberships" on guild_memberships for select using (auth.uid() = user_id);
    end if;
end $$;

-- 4. RPC: JOIN GUILD
create or replace function join_guild(
    p_user_id uuid,
    p_guild_id uuid,
    p_amount numeric
) returns void as $$
declare
    v_balance numeric;
begin
    -- 1. Check user balance
    select balance into v_balance from profiles where id = p_user_id;
    if v_balance < p_amount then
        raise exception 'Insufficient balance to join guild';
    end if;

    -- 2. Deduct credits via topup_user_credits logic (negative)
    perform topup_user_credits(
        p_user_id,
        -p_amount,
        'GUILD_STAKE',
        'Staked capital to join guild',
        'MOCK_GUILD_' || p_guild_id
    );

    -- 3. Create membership
    insert into guild_memberships (guild_id, user_id, staked_capital)
    values (p_guild_id, p_user_id, p_amount)
    on conflict (guild_id, user_id) 
    do update set staked_capital = guild_memberships.staked_capital + p_amount;

    -- 4. Update Guild Total Capital
    update guilds 
    set total_capital = total_capital + p_amount
    where id = p_guild_id;
end;
$$ language plpgsql security definer;

-- 5. SEED INITIAL DATA
insert into guilds (name, description, strategy, risk_level, min_entry, roi_7d)
values 
('The Vanguard', 'Aggressive growth syndicate focusing on Asian leagues.', 'High Growth', 'High Risk', 1000, 12.5),
('Silver Shield', 'Defensive betting using black-swan hedging exclusively.', 'Capital Protection', 'Low Risk', 500, 4.2),
('Nexus Alpha', 'Quant-driven signals for European football.', 'Market Neutral', 'Medium Risk', 750, 8.8)
on conflict do nothing;
 
-- Phase 11: Notification Center (Ledger Pulse)

-- 1. NOTIFICATIONS TABLE
create table if not exists user_notifications (
    id uuid primary key default uuid_generate_v4(),
    user_id uuid references auth.users(id) on delete cascade,
    title text not null,
    message text not null,
    type text not null, -- 'FINANCIAL', 'RANK', 'GOVERNANCE', 'SYSTEM'
    is_read boolean default false,
    link text, -- Optional redirect URL
    created_at timestamptz default now()
);

-- 2. RLS
alter table user_notifications enable row level security;

do $$ 
begin
    if not exists (select 1 from pg_policies where policyname = 'Users can manage own notifications') then
        create policy "Users can manage own notifications" on user_notifications 
            for all using (auth.uid() = user_id);
    end if;
end $$;

-- 3. HELPER FUNCTION: CREATE NOTIFICATION
create or replace function create_user_notification(
    p_user_id uuid,
    p_title text,
    p_message text,
    p_type text,
    p_link text default null
) returns void as $$
begin
    insert into user_notifications (user_id, title, message, type, link)
    values (p_user_id, p_title, p_message, p_type, p_link);
end;
$$ language plpgsql security definer;

-- 4. INDEXES
create index if not exists idx_notifications_user_read on user_notifications(user_id, is_read);
